@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
}

.bg-black-transperent{
    background: rgb(0,0,0);
background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 30%, rgb(162, 255, 156) 100%);
}
.bg-black-transperent-sm{
    background: rgba(0, 0, 0, 0.557);
}
.header-section{
    @apply w-full py-8 flex flex-col justify-center items-center;
}

.heading{
    @apply text-4xl font-extrabold text-green-800 text-center my-2;
}
.sub-heading{
    @apply w-8/12 text-center;
}